.edit {
  color: yellow;
}

.name,
.action {
  width: 50%;
}

th.mat-header-cell:last-child,
td.mat-cell:last-child {
  text-align: center;
}
// th {
//   text-align: center;
// }

// ::ng-deep .mat-sort-header-container:last-child {
//   // justify-content: center;
// }
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 3rem !important;
}
// ::ng-deep .mat-sort-header-content {
//   padding-left: 20px;
// }
.hide {
  display: none;
}
::ng-deep .mat-form-field-wrapper {
  padding: 0;
}
