<!-- <div class="dailog" mat-dialog-actions>
  <p>
    Are you sure you want to delete
    <span style="font-weight: bold">{{ type }}</span>
  </p>
  <div class="btnDiv">
    <button mat-button (click)="onDismiss()">No</button>
    <button mat-raised-button color="warn" (click)="onConfirm()">Yes</button>
  </div>
</div> -->

<div class="custom-card">
  <div
    class="bg-primary"
    style="margin-bottom: 1rem"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <h3 style="padding: 0.5rem 0.8rem">{{ title }}</h3>
  </div>

  <div class="p-3">
    <div style="margin-bottom: 0.8rem">
      <p>
        Are you sure you want to delete
        <span style="font-weight: bold">{{ type }}</span>
      </p>
    </div>

    <mat-divider class="my-2"></mat-divider>

    <div class="btnDiv">
      <button mat-button (click)="onDismiss()">No</button>
      <button mat-raised-button color="warn" (click)="onConfirm()">Yes</button>
    </div>
  </div>
</div>

<div
  *ngIf="loader"
  fxLayout="column"
  fxLayoutAlign="center center"
  class="user-spinner"
>
  <mat-spinner color="primary" [diameter]="50"></mat-spinner>
</div>
