.edit {
  color: yellow;
}

.id {
  width: 50%;
  text-align: center;
}

.action {
  width: 50%;
}

.mat-cell-id {
  text-align: center;
}

.mat-header-cell-action {
  justify-content: center;
}
// ::ng-deep .mat-sort-header-container {
//   justify-content: center;
// }

.hide {
  display: none;
}
::ng-deep .mat-form-field-wrapper {
  padding: 0;
}
